@import 'tailwindcss';

:root {
  --font-default: var(--font-k2d);
  --font-header: var(--font-inter);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #fdf4ed;
  font-family: var(--font-default);
  color: #13384e;
}

h1 {
  font-family: var(--font-header);
}
