@import 'tailwindcss';

:root {
  --font-default: var(--font-tajawal);
  --font-h1: var(--font-k2d);
  --font-h2: var(--font-inter);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #fdf4ed;
  font-family: var(--font-default);
}

h1 {
  font-family: var(--font-h1);
}

h2 {
  font-family: var(--font-h2);
}
